(
  spawn: (0., -20.),
  grounds: [
    (
      dim: (220., 20.),
      pos: (0., -100.),
    ),
    (
      dim: (220., 20.),
      pos: (0., 100.),
    ),
    (
      dim: (20., 220.),
      pos: (100., 0.),
    ),
    (
      dim: (20., 220.),
      pos: (-100., 0.),
    ),
  ],
  goals: [
    (0., 75.),
    (75., 0.),
    (-75., 0.),
  ],
)