(
  spawn: (0., -250.),
  grounds: [
    (
      dim: (620., 20.),
      pos: (0., -300.),
    ),
    (
      dim: (20., 600.),
      pos: (300., 0.),
    ),
    (
      dim: (20., 600.),
      pos: (-300., 0.),
    ),
    (
      dim: (90., 90.),
      pos: (160., -160.),
    ),
    (
      dim: (90., 90.),
      pos: (0., 0.),
    ),
    (
      dim: (90., 90.),
      pos: (-160., 160.),
    ),
  ],
  goals: [
    (-160., 95.),
    (0., -65.),
    (95., -160.),
  ],
)