(
  spawn: (0., -250.),
  grounds: [
    (
      dim: (600., 20.),
      pos: (0., -300.),
    ),
    (
      dim: (20., 600.),
      pos: (300., 0.),
    ),
    (
      dim: (20., 600.),
      pos: (-300., 0.),
    ),
    (
      dim: (60., 60.),
      pos: (160., -160.),
    ),
    (
      dim: (60., 60.),
      pos: (0., 0.),
    ),
    (
      dim: (60., 60.),
      pos: (-160., 160.),
    ),
  ],
  goals: [
    (-160., 115.),
    (0., -45.),
    (115., -160.),
  ],
)