(
  spawn: (0., 130.),
  grounds: [
    (
      dim: (250., 250.),
      pos: (-250., 250.),
    ),
    (
      dim: (250., 250.),
      pos: (-250., -250.),
    ),
    (
      dim: (150., 150.),
      pos: (0., 0.),
    ),
    (
      dim: (250., 250.),
      pos: (250., -250.),
    ),
    (
      dim: (250., 250.),
      pos: (250., 250.),
    ),
  ],
  goals: [
    (-110., 250.),
    (-250., 110.),
    (-110., -250.),
    (-250., -110.),
    (110., 250.),
    (250., 110.),
    (250., -110.),
    (110., -250.),
  ],
)
