(
  spawn: (0., 130.),
  grounds: [
    (
      dim: (150., 150.),
      pos: (-200., 200.),
    ),
    (
      dim: (150., 150.),
      pos: (-200., -200.),
    ),
    (
      dim: (150., 150.),
      pos: (0., 0.),
    ),
    (
      dim: (150., 150.),
      pos: (200., -200.),
    ),
    (
      dim: (150., 150.),
      pos: (200., 200.),
    ),
  ],
  goals: [
    (-110., 200.),
    (-200., 110.),
    (-110., -200.),
    (-200., -110.),
    (110., 200.),
    (200., 110.),
    (200., -110.),
    (110., -200.),
  ],
)