(
  spawn: (0., -20.),
  grounds: [
    (
      dim: (720., 300.),
      pos: (0., -260.),
    ),
    (
      dim: (720., 300.),
      pos: (0., 265.),
    ),
    (
      dim: (300., 720.),
      pos: (265., 0.),
    ),
    (
      dim: (300., 720.),
      pos: (-265., 0.),
    ),
  ],
  goals: [
    (0., 75.),
    (75., 0.),
    (-75., 0.),
  ],
)