(
  spawn: (0., -20.),
  grounds: [
    (
      dim: (270., 20.),
      pos: (0., -125.),
    ),
    (
      dim: (270., 20.),
      pos: (0., 125.),
    ),
    (
      dim: (20., 270.),
      pos: (125., 0.),
    ),
    (
      dim: (20., 270.),
      pos: (-125., 0.),
    ),
  ],
  goals: [
    (0., 75.),
    (75., 0.),
    (-75., 0.),
  ],
)