(
  spawn: (0., -200.),
  grounds: [
    (
      dim: (200., 300.),
      pos: (0., -400.),
    ),
    (
      dim: (150., 300.),
      pos: (0., 400.),
    ),    
    (
      dim: (300., 150.),
      pos: (-300., 100.),
    ),
    (
      dim: (300., 150.),
      pos: (-300., -100.),
    ),
        (
      dim: (300., 150.),
      pos: (300., 100.),
    ),
    (
      dim: (300., 150.),
      pos: (300., -100.),
    ),
  ],
  goals: [
    (-135, 100.),
    (-135, -100.),
    (135, 100.),
    (135, -100.),
    (0., 235.),
  ],
)
