(
  spawn: (0., -250.),
  grounds: [
    (
      dim: (380., 20.),
      pos: (0., -300.),
    ),
    (
      dim: (20., 620.),
      pos: (180., 0.),
    ),
  ],
  goals: [
    (0., -25.),
  ],
)