(
  spawn: (-150., 20.),
  grounds: [
    (
      dim: (400., 340.),
      pos: (-250., -200.),
    ),
    (
      dim: (100., 340.),
      pos: (100., -200.),
    ),
    (
      dim: (220., 600.),
      pos: (250., -150.),
    ),
  ],
  goals: [
    (100., -10.),
  ],
)