(
  spawn: (-150., 20.),
  grounds: [
    (
      dim: (200., 20.),
      pos: (-150., -40.),
    ),
    (
      dim: (100., 20.),
      pos: (100., -40.),
    ),
    (
      dim: (20., 200.),
      pos: (150., 50.),
    ),
  ],
  goals: [
    (100., -10.),
  ],
)