(
  spawn: (-210., 300.),
  grounds: [
    (
      dim: (60., 360.),
      pos: (-210, 60.),
    ),
    (
      dim: (60., 300.),
      pos: (-150, 30.),
    ),
    (
      dim: (60., 240.),
      pos: (-90., 0.),
    ),
    (
      dim: (60., 180.),
      pos: (-30., -30.),
    ),
    (
      dim: (60., 120.),
      pos: (30., -60.),
    ),
    (
      dim: (60., 60.),
      pos: (90., -90.),
    ),
    (
      dim: (420., 60.),
      pos: (-30., -150.),
    ),
    (
      dim: (480., 60.),
      pos: (0., -210.),
    ),
  ],
  goals: [
    (-128., 190.),
    (-68., 130.),
    (-8., 70.),
    (52., 10.),
    (112., -50.),
    (172., -110.),
    (232., -170.),
  ],
)