(
  spawn: (0., 50.),
  grounds: [
    (
      dim: (200., 500.),
      pos: (0., -250.),
    ),
    (
      dim: (200., 200.),
      pos: (-200., -300.),
    ),
    (
      dim: (200., 200.),
      pos: (200., -300.),
    ),
    (
      dim: (200., 720.),
      pos: (-400., 0.),
    ),
    (
      dim: (200., 720.),
      pos: (400., 0.),
    ),
    (
      dim: (720., 200.),
      pos: (0., 300.),
    ),
  ],
  goals: [
    (-200., -180.),
    (0., 180.),
    (200., -180.),
  ],
)